.App {
  text-align: center;
}

.box{
  border: 1px solid blue;
  width : 100px;
  height : 100px;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
